header {
  padding-left: 40px;
  padding-right: 40px;
}

body {
  background-color: antiquewhite;
}

main {
  max-width: 1280px;
  margin: 0 auto;
}

.header-title {
  font-size: xx-large;
  font-weight: 700;
  line-height: 70%;
}

.header-subtitle {
  font-size: large;
  font-weight: 400;
}

.header-body {
  text-align: center;
  font-size: x-large;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 24px;
}

.card {
  background-color: bisque;
  outline: 2px solid darkseagreen;
  padding: 12px;
  border-radius: 20px;
}

.card img {
  width: 100%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  border-radius: 12px;
}